<html>
<title>DB IOC IMPORT</title>


<a href="{% url 'ioc_db_stat:index' %}"><input type="submit" value="< Main" class="btn btn-default" ></a>      
<form action="{% url 'ioc_db_stat:upload_file' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
          
       {{ form }}
      
    </table>
     <td><input type="submit" value="Submit" /></td>
</form>
       

               
                   
               
           
       
       
       {% if insert_status %}
       <table border="1">
           <caption>Import information:</caption>
           <h3>{{ insert_status }}</h3>
           <h4>{{ result }}</4>
           This IOC's exist in DB
           {% if ioc_cond %}
               <thead>
                    <tr>
                        <th>IOC</th>
                        
                    </tr>
               </thead>
               <tbody>
                    {% for k in ioc_cond %}
                      <tr>
                       
                           <td>{{ k }}</td>
                      
            
                     </tr>
                     
                   {% endfor %} 
               </tbody>
           {% endif %}
       </table>
       {% endif %}     
</html>
